/CURRENTVMWORKING100%/VendorManager/build
/CURRENTVMWORKING100%/VendorManager/build
/CURRENTVMWORKING100%/VendorManager/dist/VendorManager
/CURRENTVMWORKING100%/VendorManager/dist
/CURRENTVMWORKING100%/VendorManager/dist/VendorManager
